<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HELLO WORLD!!!</h1>
    <%=image_tag "dramatic_glasses.gif" %>
    <%=link_to 'take me to calculator', calculator_path, class: "text" %>
  </body>
</html>
